<h1><%= @question.title %></h1>
<p><%= @question.text %></p>
<p><% if @question.user_id != session[:user_id] %><%= link_to "Up Vote!", question_votes_path(question_id: @question.id, direction: "up", type: "question"), method: 'post' %>  ||  <%= link_to "Down Vote!", question_votes_path(question_id: @question.id, direction: "down", type: "question"), method: 'post' %> || <% end %> <%=@question.total%> votes || </p>
<h4>Comments</h4>
<% @question.comments.each do |c| %>
  <p><%= c.user.username %> : <%= c.text %>
  <%= link_to "delete", [@question, c], :method  => :delete %></p>
<% end %>

<h5>Add comment:</h5>
  <%= render partial: "comments/question_comment", locals: {question: @question, comment: @comment} %>


<h4>Answers:</h4>
<% @question.answers.each do |ans| %>
  <%= render partial: "answers/show", locals: {answer: ans} %>
    <% ans.comments.each do |c| %>
      <p><%= c.user.username %> : <%= c.text %></p>
    <% end %>
    <%= render partial: "comments/answer_comment", locals: { answer: ans, comment: @comment } %>
<% end %>

<h5>Submit an answer!</h5>
<% if @question.user_id != session[:user_id] %>
  <%= render partial: "answers/new", locals: {answer: @answer, question: @question} %>
<% end %>
<br>

<%= link_to "Return to Questions!", questions_path%>