  <h1><%= @question.title %></h1>

  <p><%= link_to "Up Vote Question!", question_votes_path(@question.id, direction: "up", type: "question"), method: 'post' %></p>
    <p><%= @question.text %></p>
    <p>Posted by: <%= @question.user.username %></p>
    <p><%=@question.total%> votes</p>
  <p><%= link_to "Down Vote Question!", question_votes_path(@question.id, direction: "down", type: "question"), method: 'post' %></p>

<h4>Comments</h4>
<% @question.comments.each do |c| %>
  <p><%= c.user.username %> : <%= c.text %>
  <%= link_to "delete", [@question, c], :method  => :delete %></p>
<% end %>

<h5>Add comment:</h5>
  <%= render partial: "comments/question_comment", locals: {question: @question, comment: @comment} %>



<h4>Answers:</h4>
<% @question.answers.order(total: :desc).each do |ans| %>
  <%= render partial: "answers/show", locals: {answer: ans} %>
    <% ans.comments.each do |c| %>
      <p><%= c.user.username %> : <%= c.text %></p>
    <% end %>
    <%= render partial: "comments/answer_comment", locals: { answer: ans, comment: @comment } %>
---------------------------------------------------
<% end %><br>

<h5>Submit an answer!</h5>
<% if @question.user_id != session[:user_id] %>
  <%= render partial: "answers/new", locals: {answer: @answer, question: @question} %>
<% end %>
<br>

<%= link_to "Return to Questions!", questions_path%>