
<h1><%= @question.title %></h1>
<p><%= @question.text %></p>
<p><% if @question.user_id != session[:user_id] %><%= link_to "Up Vote!", question_votes_path(question_id: @question.id, direction: "up", type: "question"), method: 'post' %>  ||  <%= link_to "Down Vote!", question_votes_path(question_id: @question.id, direction: "down", type: "question"), method: 'post' %> || <% end %> <%=@question.total%> votes ||</p>

<% @question.comments.each do |c| %>
  <p> <%= c.text %>  </p>
  <%= link_to "delete", [@question, c], :method  => :delete %>
<% end %>

<%= form_for [@question, @comment] do |f|%>
  <%= f.label :comment %>
  <%= f.text_field :text %><br><br>
  <%= f.submit 'Comment!' %>
<% end %>


<%= link_to "Return to Questions!", questions_path%>