<div>
  <div><%= answer.text %></div>
  <div>Posted By: <%= answer.user.username %></div>
  <div><%= answer.total %> votes</div><br>

  <% if session[:user_id] == answer.user_id %>
    <div>
      <%= link_to "edit", edit_answer_path(answer.id)%>
      <%= link_to "delete", answer_path(answer.id), method: :delete %>
    </div>
  <% end %>
</div>
