<!DOCTYPE html>
<html>
<head>
  <title>StarOverflow</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse">
    <% if session[:user_id] && current_user%>
      <%= link_to 'Logout', logout_path, method: 'delete' %>
      Signed in as: <%= User.find(session[:user_id]).username %>
    <% else %>
      <%= link_to 'Login', login_path %>
      <%= link_to 'Sign Up', new_user_path %>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
